<section>
  <div class="container">
    <form
      (ngSubmit)="uploadForm.valid && onSubmit()"
      [formGroup]="uploadForm"
      #myForm="ngForm"
    >
      <label for="link">Fichier :</label>
      <input
        type="file"
        id="link"
        formControlName="link"
        multiple="multiple"
        (change)="inputFileChange($event)"
      />
      <label for="expiration">Durée avant expiration :</label>
      <select name="expiration" id="expiration" formControlName="expiration">
        <option
          *ngFor="let option of options | keyvalue"
          [value]="option.value"
        >
          {{ option.value }}
        </option>
      </select>
      <label for="email"> Email (optionnel) : </label>
      <input
        class="email"
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email de la personne à aviser"
      />
      <button type="submit">Soumettre</button>
    </form>
  </div>
</section>
<!-- <section id="list" *ngIf="">
  <ng-container >
    <li *ngFor=" let file of this.uploadForm.controls.files.value! ">
      <a [href]="file.name" download> {{ file.name }}</a>
    </li>
  </ng-container>
</section> -->
