<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="uploadForm" #myForm="ngForm">
    <label for="link">Fichier :</label>
    <input type="file" id="link" formControlName="link" multiple="multiple" />
    <label for="email"> Email : </label>
    <input class="email" type="email" id="email" formControlName="email" />
    <label for="expiration">Durée de validité :</label>
    <select name="expiration" id="expiration" formControlName="expiration">
      <option [value]="todayDate">1 jour</option>
      <option [value]="todayDate">1 mois</option>
      <option [value]="todayDate">1 an</option>
      <option [value]="todayDate">Jamais</option>
    </select>
    <button type="submit">Soumettre</button>
  </form>
</div>
<div *ngFor="let file of files">
  <p>{{ file.link }} - {{ file.expiration }}</p>
</div>
